{% extends 'base.html' %}

{% block title %}add treatement plan{% endblock %}

{% block content %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'MediCare\css\index.css'%}">
    <title>Add Treatment Plan</title>
</head>
<body>
    <h1 class="screen-title">Add Treatment Plan</h1>
    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Treatment Plan</button>
    </form>
    <a href="{% url 'treatment_plan_list' %}" class="back-button">Back to Treatment Plan List</a>
</body>
</html>
{% endblock %}