{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    <title>{% block title %}My Clinic{% endblock %}</title>
    {% endblock %}
    <link rel="stylesheet" href="{% static 'MediCare/css/index.css' %}">
</head>
<body>

   

        <sidebar class="sidebar">
                    <h1 id="logo">Medicare</h1>
                    <a href="{% url 'doctor_list' %}" class="sidebar-nav-item">Doctors</a>
                    <a href="{% url 'patient_list' %}" class="sidebar-nav-item">Patients</a>
                    <a href="{% url 'visit_list' %}" class="sidebar-nav-item">Visits</a> 
                    <a href="{% url 'medical_record_list' %}"  class="sidebar-nav-item">Medical Records</a>
                    <a href="{% url 'treatment_plan_list' %}"  class="sidebar-nav-item">Treatment Plans</a>
                    <a href="{% url 'prescription_list' %}"  class="sidebar-nav-item">Prescriptions</a>     
        
        </sidebar>



         <main class="content">
              {% block content %}{% endblock %}
         </main>
    </div>

</body>
</html>
