{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'MediCare\css\styles.css'%}">
    <title>Medical Record List</title>
</head>
<body>
    <h1>Medical Record List</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Record ID</th>
                <th>Patient ID</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for medical_record in medical_records %}
                <tr>
                    <td>{{ medical_record.Record_ID }}</td>
                    <td>{{ medical_record.Patient.Patient_ID }}</td>
                    <td>
                        <a href="{% url 'update_medical_record' medical_record.Record_ID %}" class="update-button">Update</a>
                        <a href="{% url 'delete_medical_record' medical_record.Record_ID %}" class="delete-button">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'add_medical_record' %}" class="add-button">Add Medical Record</a>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var updateButtons = document.getElementsByClassName("update-button");
            for (var i = 0; i < updateButtons.length; i++) {
                updateButtons[i].addEventListener("click", function(event) {
                    event.preventDefault();
                    window.location.href = this.getAttribute("href");
                });
            }
        });
    </script>
</body>
</html>
