{% extends 'base.html' %}

{% block title %}Medical Record{% endblock %}

{% block content %}
    <h1 class="screen-title">Medical Record for {{ patient.Last_Name }}{{ patient.First_Name }}</h1>

    {% if medical_record.Visits.all %}
    <ul>
        {% for visit in medical_record.Visits.all %}
            <li>
                <strong>Visit Date:</strong> {{ visit.Consultation_Date }}
                <br>
                <strong>Doctor:</strong> {{ visit.Doctor.Last_Name }} {{ visit.Doctor.First_Name }}
                <br>
                <strong>Treatment Plan:</strong> {{ visit.treatment_plan.Diagnosis }}
                <br>
                <strong>Prescription:</strong> {{ visit.treatment_plan.prescription.Medication }} - {{ visit.treatmentplan.prescription.Dose }}
                <br><br>
            
        {% endfor %}
    </ul>
    {% else %}
        <p>No medical records found for this patient.</p>
    {% endif %}
{% endblock %}
