{% extends 'base.html' %}

{% block title %}Patient List{% endblock %}

{% block content %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'MediCare\css\index.css'%}">
    <title>Patient List</title>
</head>
<body>
    <h1 class="screen-title">Patient List</h1>
    <div class="main-content">
        <table class="table-info">
        <thead >
            <tr>
                <th>Patient ID</th>
                <th>NSS</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Address</th>
                <th>Actions</th>
                <th>Medical Record</th>
            </tr>
        </thead>
        <tbody>
            {% for patient in patients %}
                <tr>
                    <td>{{ patient.Patient_ID }}</td>
                    <td>{{ patient.NSS }}</td>
                    <td>{{ patient.First_Name }}</td>
                    <td>{{ patient.Last_Name }}</td>
                    <td>{{ patient.Phone_Number }}</td>
                    <td>{{ patient.Email }}</td>
                    <td>{{ patient.Address }}</td>
                    <td class="actions">
                        <a href="{% url 'update_patient' patient.Patient_ID %}" class="update-button">Update</a>
                        <a href="{% url 'delete_patient' patient.Patient_ID %}" class="delete-button">Delete</a>
                    </td>
                    <td><a href="{% url 'patient_medical_record' patient.Patient_ID %}" id="view-med-rec">View Medical Record</a></td>
                    
                </tr>
            {% endfor %}
        </tbody>
        </table>
        <a href="{% url 'add_patient' %}" class="add-button">Add Patient</a>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var updateButtons = document.getElementsByClassName("update-button");
            for (var i = 0; i < updateButtons.length; i++) {
                updateButtons[i].addEventListener("click", function(event) {
                    event.preventDefault();
                    window.location.href = this.getAttribute("href");
                });
            }
        });
    </script>
</body>
</html>
{% endblock %}


