{% extends 'base.html' %}

{% block title %}update patient{% endblock %}

{% block content %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'MediCare\css\index.css'%}">
    <title>Update Patient</title>
</head>
<body>
    <h1 class="screen-title">Update Patient</h1>
    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Update Patient</button>
    </form>
    <a href="{% url 'medical_record_list' %}" class="back-button">Back to Patient List</a>
</body>
</html>
{% endblock %}