body {
    background-color: #c4c4a4; 
    font-family: 'Arial', sans-serif;
    margin: 20px;
    display : flex;
}

.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    background-color: #333;
    padding-top: 20px;
    text-align: center;
}

.sidebar a {
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.content {
    margin-left: 200px;
    padding: 16px;
}

table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

h1, h2 {
    color: #333;
}

form {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.add-button {
    display: inline-block;
    background-color: #008CBA;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
}

.add-button:hover {
    background-color: #005580;
}

.update-button, .delete-button {
    display: inline-block;
    margin-left: 10px;
    color: #333;
    text-decoration: none;
}

.update-button:hover, .delete-button:hover {
    text-decoration: underline;
}
